<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{{seo.image}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}" />
    <meta name="description" content="{{seo.description}}" />
    <meta property="og:title" content="{{seo.title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{seo.url}}" />
    <meta property="og:description" content="{{seo.description}}" />
    <meta property="og:image" content="{{seo.image}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="google-site-verification" content="n-aauZTyLSu-S_21mFaEOrj8DXXRTrEtLj5bbomH3Go" />
<link rel="stylesheet" href="/style.css" />
  </head>
    <body>
    <button class="oauth_btn" id="oauth_btn">
    <script>
    var btn = document.getElementById("oauth_btn")
    btn.onclick = function(){
    var authWindow = window.open('https://repl.it/auth_with_repl_site?domain=' + location.host);
    
    }
    </script>
    <style>.oauth_btn {
    font-family: inherit;
    font-size: 111%;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 0.0rem 0.4rem;  
    }</style>
      <center>Login with sqares</center>
    </button>
  </body>
</html>